<ul>
  <li *ngFor="let todo of todoList" >
    {{todo.id}}/{{todo.description}}. {{ todo.completed }} <span *ngIf=" todo.completed ">default</span>
  </li>
</ul>


<input [(ngModel)]="idx" type="text">
<button (click)="search()" >Buscar</button>


{{
  todo | json
}}
